# Dependencies
node_modules/

# Next.js
.next/
.next-cache/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env*
!.env.example

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Build artifacts
coverage/
dist/

# Data files
*.xlsx
*.csv
public/*.xlsx
public/*.csv

# Misc
*.local
